@import 'var'

body
  font-family: 'PT Sans', sans-serif
  font-size: 13px
  background-color: lighten($black, 7.5%)
  color: $white

.ju
  box-sizing: border-box

  &.headline
    display: block
    font-weight: 700
    text-transform: uppercase
    margin: 0.25em auto

  &.paragraph
    display: block
    margin: 0.1em auto

  &.code
    font-family: Consolas, monospace

.mdi
  &.mdi-heart
    color: $red